

@font-face{

  font-family: 'BrandonGrotesque';
  src: url('../fonts/BrandonGrotesque-Regular.eot');
  src: url('../fonts/BrandonGrotesque-Regular.eot?iefix') format('eot');
  src: url('../fonts/BrandonGrotesque-Regular.woff') format('woff');
  src: url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  
}

$font : 'BrandonGrotesque'
